<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <script type="text/javascript" src="/static/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/static/socket_lib.js" type="text/javascript"></script>
</head>
<body>
{% for id,password in drone_dict.items() %}
    <div>
        {{ id }}<br>
        Passwort: {{ password }}<br>
        <label>Empfangene Narichten: <textarea readonly="readonly" id={{ id  + "receive" }}></textarea></label><br>
        <label>Nachricht senden: <textarea name="{{ id  + "send" }}"></textarea></label><br>
        <input type="button" onclick="sendMessage({{ id  + "send" }});" value="An Drohne senden">
    </div><br>
{% endfor %}
<script>

</script>
</body>
</html>